<?xml version="1.0"?>
<config>
	<modules>
		<Trivid_Clipgenerator>
			<version>1.0.3</version>
		</Trivid_Clipgenerator>
	</modules>
	<global>
		<helpers>
			<clipgenerator>
				<class>Trivid_Clipgenerator_Helper</class>
			</clipgenerator>
		</helpers>
		<blocks>
			<clipgenerator>
				<class>Trivid_Clipgenerator_Block</class>
			</clipgenerator>
            <clipgenerator_video>
                <rewrite>
                    <class>Trivid_Clipgenerator_Block_Video</class>
                </rewrite>
            </clipgenerator_video>
		</blocks>
		<resources>
			<clipgenerator_setup>
				<setup>
					<module>Trivid_Clipgenerator</module>
					<class>Trivid_Clipgenerator_Model_Mysql4_Setup</class>
				</setup>
			</clipgenerator_setup>
		</resources>
		<events>
			<catalog_product_save_after>
				<observers>
					<clipgeneratorFrontend>
						<type>singleton</type>
						<class>Trivid_Clipgenerator_Model_Observer</class>
						<method>catalog_product_save_after</method>
					</clipgeneratorFrontend>
				</observers>
			</catalog_product_save_after>
		</events>
	</global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <clipgenerator>
                        <type>singleton</type>
                        <class>Trivid_Clipgenerator_Model_Observer</class>
                        <method>insertVideo</method>
                    </clipgenerator>
                </observers>
            </core_block_abstract_to_html_after>
		</events>
    </frontend>
	<admin>
		<routers>
			<clipgenerator>
				<use>admin</use>
				<args>
					<module>Trivid_Clipgenerator</module>
					<frontName>clipgenerator</frontName>
				</args>
			</clipgenerator>
		</routers>
	</admin>
	<adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <clipgeneratorMass>
                        <class>Trivid_Clipgenerator_Model_Observer</class>
                        <method>addMassAction</method>
                    </clipgeneratorMass>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
		<translate>
			<modules>
				<mage_adminhtml>
					<files>
						<clipgenerator>Trivid_Clipgenerator.csv</clipgenerator>
					</files>
				</mage_adminhtml>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<clipgenerator translate="title" module="clipgenerator">
											<title>Clipgenerator Optionen</title>
										</clipgenerator>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<clipgenerator>
					<file>clipgenerator.xml</file>
				</clipgenerator>
			</updates>
		</layout>
	</adminhtml>
</config>